#chat-window {
  z-index: 9999;
  background: transparent;
  position: fixed;
  right: 160px;
  bottom: 115px;
  width: 500px;
  max-width: 50vw;
}

#chat-window>.chat-window__body {
  transform: scale(1);
  transform-origin: bottom right;
  transition: transform .3s cubic-bezier(0, 1.2, 1, 1);
  border-radius: 28px;
  border: 1px solid #ccc;
}

#chat-window .chat-window__navbar {
  width: 100%;
  position: relative;
  padding: 0px 22px;
  box-sizing: border-box;
  display: flex;
}

#chat-window .chat-window__navbar__title {
  padding: 15px 0px;
  font-size: 32px;
  line-height: 37.5px;
  display: inline-block;
}

#chat-window .chat-window__initial-prompt {
  padding: 0px 22px 15px;
}

#chat-window .chat-window__navbar__expand-icon,
#chat-window .chat-window__navbar__collapse-icon {
  cursor: pointer;
  transition: transform .1s linear;
  transform-origin: center;
}

#chat-window .chat-window__navbar__expand-icon {
  margin: 18px 0px 8px auto;
  width: 30px;
  height: 30px;
  background-image: url("../images/expand-webchat.png");
}

#chat-window .chat-window__navbar__collapse-icon {
  display: none;
  margin: 8px 0px 8px auto;
  width: 20px;
  height: 20px;
  background-image: url("../images/collapse-webchat.png");
  border: 2px solid #000;
  border-radius: 28px;
}

#chat-window .chat-window__navbar__expand-icon:hover {
  transform: scale(1.1);
}

#chat-window .chat-window__navbar__collapse-icon:hover {
  background-color: #F2F2F2B2;
}

#chat-window #webchat {
  background: white;
  position: relative;
  width: 100%;
  border-radius: 0px 0px 28px 28px;
  max-height: 60vh;
  overflow: auto;
}

#chat-window>#webchat-bot {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  position: absolute;
  bottom: -75px;
  right: -25px;
  background-image: url("../images/bot.png");
  cursor: pointer;
}

#chat-window .webchat__send-box {
  background-color: #F2F2F2B2;
  border-radius: 0px 0px 29px 29px;
  padding-top: 8px;
}

#chat-window .webchat__send-box__main {
  border-radius: 29px;
  background-color: #fff;
  margin: 0px 12px 8px;
  border: 1px solid #ccc;
}

#chat-window .webchat__send-box__info {
  text-align: center;
  margin: 0px 8px 8px;
}

#chat-window .webchat__send-icon {
  background-image: url("../images/send-chat-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  width: 28px;
  height: 28px;

  display: inline-block;
  overflow: hidden;
}

#chat-window .webchat__send-box-text-box__input {
  width: 100%;
}

#chat-window .webchat__icon-button__shade {
  border-radius: 28px;
  inset: 0px;
}

#chat-window .webchat__send-icon * {
  display: none;
}

#chat-window .webchat__css-custom-properties>div:first-child {
  background: transparent;
  overflow: auto;
  max-height: 60vh;
}

#chat-window .webchat__stacked-layout__content {
  max-width: 75%;
}

#chat-window .webchat__bubble {
  border-radius: 28px;
}

#chat-window .webchat__bubble>.webchat__bubble__content {
  border: 0;
}

#chat-window .webchat__bubble--from-user>.webchat__bubble__content {
  background: #F2F2F2;
  padding: 0px 12px;
}

#chat-window .webchat__activity-status {
  padding: 0px 10px;
}

#chat-window .webchat__suggested-actions__carousel {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -8px
}

#chat-window .webchat__suggested-actions__button {
  border: 0;
  background-color: transparent;
}

#chat-window .webchat__suggested-actions__item-box {
  padding: 0px;
}

#chat-window .webchat__basic-transcript:focus {
  border-radius: 16px;
}

#chat-window.chat-window--expanded {
  width: 100vw;
  right: 0px;
  bottom: 0px;
  height: 100vh;
  max-width: 100vw;
}

#chat-window.chat-window--expanded>.chat-window__body {
  border: 0;
  border-radius: 0;
}

#chat-window.chat-window--expanded .chat-window__navbar__expand-icon {
  display: none;
}

#chat-window.chat-window--expanded #webchat {
  margin: auto;
  height: calc(100vh - 67.5px);
  max-width: 70vw;
  width: auto;
  max-height: unset;
}

#chat-window.chat-window--expanded .webchat__css-custom-properties>div:first-child {
  max-height: unset;
}

#chat-window.chat-window--closed>.chat-window__body {
  transform: scale(0);
}

#chat-window.chat-window--condensed {
  width: 240px;
}

#chat-window.chat-window--condensed .chat-window__navbar__collapse-icon {
  display: block;
}

#chat-window.chat-window--condensed .chat-window__navbar> :not(.chat-window__navbar__collapse-icon),
#chat-window.chat-window--condensed .webchat__send-box__button,
#chat-window.chat-window--condensed .webchat__send-box__info {
  display: none;
}

#chat-window.chat-window--condensed #webchat {
  border-radius: 28px;
}


@media (max-width: 769px) {
  #chat-window {
    right: 40px;
  }

  #chat-window #webchat {
    max-width: calc(100vw - 80px);
  }
}