#chatwindow>#heading {
  height: 50px;
  width: 100%;
  position: relative;
  padding: 0px 10px;
  font-weight: bold;
  font-size: 1.7em;
  line-height: 1.7em;
}

#chatwindow {
  z-index: 9999;
  background: transparent;
  position: fixed;
  right: 160px;
  bottom: 115px;
  border-radius: 28px;
  padding: 8px;
  border: 1px solid #ccc;
}

#chatwindow,
#chatwindow>* {
  box-sizing: border-box;
}

#chatwindow>#webchat {
  background: transparent;
  overflow: hidden;
  position: relative;
  width: 500px;
}

#chatwindow>#webchat-bot {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  position: absolute;
  bottom: -75px;
  right: -25px;
  background-image: url("../images/bot.png");
}