@import 'variables.module.scss';

@mixin expand-collapse-icon-styles {
  color: #000;
  cursor: pointer;
  transition: transform 0.1s linear;
  transform-origin: center;
  display: flex;
  align-self: center;
  flex-shrink: 0;
}

#chat-window {
  z-index: 9999;
  background: transparent;
  position: fixed;
  right: 135px;
  bottom: 30px;
  max-height: calc(100vh - 67px);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', 'sans-serif';
  justify-content: flex-end;
  gap: 10px;

  > .chat-window__body {
    box-sizing: border-box;
    transform: scale(1);
    transform-origin: bottom right;
    transition-property: transform;
    transition-duration: calc(var(--chat-window-transition-duration-ms, '300') * 1ms);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    border-radius: 28px;
    border: 1px solid #ccc;
    max-width: calc(100% - 25px);
    width: calc($regular-webchat-width - 25px);
    margin-right: 25px;

    &.chat-window__body--hidden {
      display: none;
      width: 0px;
      height: 0px;
      overflow: hidden;
    }
  }

  .chat-window__navbar {
    width: 100%;
    position: relative;
    padding: 15px 6%;
    box-sizing: border-box;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    background-color: #fff;
  }

  .chat-window__navbar__title {
    font-size: 32px;
    line-height: 37.5px;
    display: inline-flex;
    align-self: center;
  }

  .chat-window__navbar__mode-button {
    align-self: center;
    display: inline-flex;
    padding: 4px 12px 4px 28px;
    border: 1px solid #000;
    background-color: #1e1e1e;
    color: #f5f5f5;
    border-radius: 6px;
    cursor: pointer;
    background-image: url('../images/dark-mode-icon.svg');
    background-position: 8px center;
    background-size: 12px 12px;
    background-repeat: no-repeat;
  }

  .chat-window__navbar__mode-button:hover {
    background-color: #5b5b5b;
  }

  .chat-window__navbar__mode-button::after {
    content: 'Dark mode';
  }

  .chat-window__navbar__filler {
    margin-left: auto;
  }

  @if $enable-fullscreen {
    .chat-window__navbar__expand-icon,
    .chat-window__navbar__collapse-icon {
      @include expand-collapse-icon-styles;
    }

    .chat-window__navbar__expand-icon:hover {
      transform: scale(1.1);
    }
  } @else {
    .chat-window__navbar__collapse-icon {
      @include expand-collapse-icon-styles;
    }
  }

  .chat-window__navbar__collapse-icon {
    @if $enable-fullscreen {
      display: none;
    }

    border: 2px solid #000;
    border-radius: 28px;
  }

  .chat-window__navbar__collapse-icon:hover {
    background-color: #f2f2f2b2;
  }

  .chat-window__navbar__mode-username {
    display: none;
    color: #000;
    padding-left: 30px;
  }

  .chat-window__reload-link {
    font-style: italic;
    color: #416e96;
    text-decoration: underline;
    cursor: pointer;
  }

  #webchat {
    background: white;
    position: relative;
    width: 100%;
    border-radius: 0px 0px 28px 28px;
    overflow: auto;
  }

  > #webchat-bot {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    position: relative;
    display: inline-flex;
    overflow: hidden;
    cursor: pointer;
    align-self: end;
    flex: 0 0 64px;

    > .webchat-bot__icon {
      width: 100%;
      height: 100%;
      background-image: url('/src/images/chat-bot-icon.png');
      background-size: contain;
    }

    &.webchat-bot--loading {
      cursor: wait;

      > .webchat-bot__icon {
        opacity: 0.1;
      }

      &::after,
      &::before {
        content: '';
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        border: 2px solid #aaa;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        animation: webchat-bot-loader 2s linear infinite;
      }
      &::after {
        animation-delay: 1s;
      }
    }
  }

  .webchat__send-box {
    background-color: #f2f2f2b2;
    border-radius: 29px;
    padding-top: 8px;
  }

  .webchat__send-box__main {
    border-radius: 29px;
    background-color: #fff;
    margin: 8px 12px 8px;
    border: 1px solid #ccc;
  }

  .webchat__send-box__info {
    text-align: center;
    margin: 0px 8px 8px;
  }

  .webchat__send-icon {
    background-image: url('../images/send-chat-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    width: 28px;
    height: 28px;

    display: inline-block;
    overflow: hidden;
  }

  .webchat__send-box-text-box__input {
    width: 100%;
    padding-left: 15px;
  }

  .webchat__icon-button__shade {
    border-radius: 28px;
    inset: 0px;
  }

  .webchat__icon-button:disabled .webchat__icon-button__shade {
    background-color: #757575;
  }

  .webchat__send-icon * {
    display: none;
  }

  .webchat__css-custom-properties > div:first-child {
    background: transparent;
    overflow: auto;
    max-height: calc(100vh - 210px);
  }

  &:not(.chat-window--condensed) .webchat__css-custom-properties > div:first-child {
    min-height: 40vh;
  }

  .webchat__stacked-layout__main {
    max-width: $max-layout-width;
  }

  .webchat__stacked-layout--from-user > .webchat__stacked-layout__main {
    margin-left: auto;
  }

  .webchat__stacked-layout__message {
    max-width: unset;
  }

  .webchat__bubble {
    border-radius: 28px;

    > .webchat__bubble__content {
      border: 0;
    }
  }

  .webchat__bubble--from-user .webchat__text-content {
    padding: 10px 22px;
    background: #f2f2f2;
    border-radius: 28px;
  }

  .webchat__activity-status {
    padding: 0px 10px;
  }

  .webchat__suggested-actions__carousel {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px 5px;
  }

  .webchat__suggested-actions__button {
    border: 0;
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
      background-color: revert;
      border-radius: 28px;
    }
  }

  .webchat__suggested-actions__item-box {
    padding: 0px;
  }

  .webchat__basic-transcript:focus {
    border-radius: 16px;
  }

  .webchat__render-markdown a {
    color: #000000b2;
  }

  .webchat__send-box-text-box-counter {
    display: flex;
    align-items: center;
    padding-right: 4px;
    font-size: 0.9em;
    color: #767676;
  }

  .webchat__send-box-text-box-counter--error {
    color: rgb(197, 15, 31);
    font-weight: bold;
  }

  .webchat__error-info,
  .webchat__send-box__error-info {
    align-items: center;
    color: rgb(197, 15, 31);
    display: flex;
    font-size: 75%;
    font-weight: bold;
    margin: 8px 14px;
  }

  .webchat__error-info {
    > svg {
      flex-shrink: 0;
      padding-right: 12px;
      fill: rgb(197, 15, 31);
    }
  }

  .webchat__send-box__info {
    color: rgb(118, 118, 118);
  }

  .webchat__send-box__error-info--hidden {
    display: none;
  }

  img.webchat__render-markdown__external-link-icon {
    display: none;
  }

  &:not(.chat-window--fullscreen) .chat-window__navbar {
    border-radius: 28px 28px 0px 0px;
  }

  @if $enable-fullscreen {
    &.chat-window--fullscreen {
      right: 0px;
      bottom: 0px;
      height: 100vh;
      max-width: 100vw;
      max-height: 100vh;
      background-color: #fff;

      > .chat-window__body {
        width: 100vw;
        max-width: 100vw;
        border: 0;
        border-radius: 0;
        margin-right: 0px;
        overflow: hidden;
      }

      .chat-window__navbar__expand-icon {
        display: none;
      }

      .chat-window__navbar__mode-username {
        display: inline-flex;
        align-items: center;
      }

      #webchat {
        margin: auto;
        height: calc(100vh - 67.5px);
        max-width: $max-webchat-width;
        width: auto;
        max-height: unset;
      }

      #webchat-bot {
        display: none;
      }

      .webchat__css-custom-properties > div:first-child {
        max-height: unset;
      }
    }
  }

  &.chat-window--closed > .chat-window__body {
    transform: scale(0);
  }

  &.chat-window--condensed {
    width: $condensed-webchat-width;

    .chat-window__body {
      overflow: hidden;
    }

    .chat-window__navbar__collapse-icon {
      display: block;
    }

    .chat-window__navbar
      > :not(.chat-window__navbar__collapse-icon):not(.chat-window__navbar__filler),
    .webchat__send-box__info,
    .webchat__send-box-text-box-counter {
      display: none;
    }

    .chat-window__navbar {
      background-color: #f2f2f2b2;
    }

    #webchat {
      background-color: #f2f2f2b2;
      max-height: $condensed-webchat-height;
    }

    .webchat__stacked-layout__main {
      max-width: 100%;
    }

    .webchat__bubble {
      border-radius: 14px;

      > .webchat__bubble__content {
        border-radius: 14px;
      }
    }

    .webchat__basic-transcript__scrollable {
      max-height: calc($condensed-webchat-height - 70px);
    }

    .webchat__text-content {
      padding: 5px;
    }
  }

  &.chat-window--webchat-uninitialized {
    > .chat-window__body {
      width: auto;
      #webchat {
        display: none;
      }
    }

    &:not(.chat-window--unauthenticated) > .chat-window__body {
      border: 0;

      .chat-window__navbar {
        display: none;
      }
    }
  }

  &.chat-window--unauthenticated {
    .chat-window__navbar > *:not(.chat-window__navbar__collapse-icon),
    #webchat {
      display: none;
    }

    #login-screen {
      display: flex;
    }

    &:not(.chat-window--fullscreen) .chat-window__navbar > .chat-window__navbar__collapse-icon {
      margin-left: auto;
      display: block;
    }
  }
}

@keyframes webchat-bot-loader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@if not $is-embed-child {
  @media (max-width: 768px) {
    #chat-window {
      right: 20px;
      bottom: 8px;
      max-width: calc(100vw - 40px);
      max-height: calc(100vh - 16px);
      overflow: auto;

      #webchat {
        max-width: calc(100vw - 40px);
      }

      .webchat__css-custom-properties > div:first-child {
        max-height: calc(100vh - 166px);
      }
    }
  }

  @media (max-width: 480px) {
    #chat-window {
      > .chat-window__body {
        margin-right: 0px;
        max-width: 100%;
      }

      #webchat-bot {
        margin-right: 0px;
      }

      &.chat-window--fullscreen .chat-window__navbar__mode-username,
      .chat-window__navbar__mode-username {
        display: none;
      }

      .chat-window__navbar {
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: auto;
      }
    }
  }
}

@if $is-embed-child {
  #chat-window {
    width: 100%;
    max-width: 100%;
    bottom: 0px;
    right: 0px;
    position: fixed;
    box-sizing: border-box;
    max-height: 100vh;
    overflow: hidden;

    .chat-window__navbar {
      flex-wrap: nowrap;
      white-space: nowrap;
      overflow: auto;
    }

    #webchat {
      max-width: 100%;
      max-height: 100vh;
    }

    #webchat-bot {
      margin-right: 0px;
    }

    &.chat-window--webchat-uninitialized #webchat-bot {
      margin-top: auto;
    }

    .webchat__css-custom-properties > div:first-child {
      max-height: calc(100vh - 143px);
    }

    &.chat-window--condensed {
      .webchat__css-custom-properties > div:first-child {
        max-height: 100vh;
      }
    }
  }

  @media (max-width: 480px) {
    #chat-window {
      > .chat-window__body {
        margin-right: 0px;
      }

      &:not(.chat-window--condensed) > .chat-window__body {
        max-width: 100%;
      }
    }
  }
}
