#chat-window.chat-window--dark {

  .webchat__text-content {
    color: white;
  }

  .webchat__bubble__content .ac-textBlock {
    color: white !important;
  }

  >.chat-window__body,
  #webchat {
    background-color: black;
  }

  #webchat .webchat__bubble__content {
    background: transparent;
  }

  .webchat__bubble--from-user .webchat__text-content {
    background-color: #2D2D2D;
  }

  .webchat__send-box {
    background: #2D2D2D80;
  }

  .webchat__send-box-text-box__input,
  .webchat__send-box__info,
  .chat-window__navbar__title {
    color: #fff;
  }

  .webchat__send-box__main {
    background-color: #2D2D2D;
  }

  .webchat__send-box {
    background-color: #2D2D2D80;
  }

  .webchat__activity-status {
    color: #f6f6f6;
  }

  .webchat__render-markdown a {
    color: #FFFFFFB2;
  }

  .webchat__send-icon {
    background-image: url("../images/send-chat-icon-dark.svg");
  }

  .webchat__icon-button:not(:disabled):hover .webchat__icon-button__shade {
    background-color: #565656;
  }

  .chat-window__navbar {
    background-color: #000;
  }

  .chat-window__navbar__collapse-icon,
  .chat-window__navbar__expand-icon {
    color: #fff;
  }

  .chat-window__navbar__collapse-icon {
    border: 2px solid #fff;
  }

  .chat-window__navbar__mode-username {
    color: #fff;
  }

  .chat-window__navbar__mode-button {
    border: 1px solid #fff;
    background-color: #F5F5F5;
    color: #1E1E1E;
    background-image: url("../images/light-mode-icon.svg");
  }

  .chat-window__navbar__mode-button:hover {
    background-color: #dedede;
  }

  .chat-window__navbar__mode-button::after {
    content: 'Light mode';
  }

  &.chat-window--expanded {
    background-color: #000;
  }
}