$min-height: calc($condensed-webchat-height + 125px);

#bot-iframe-wrapper {
  position: fixed;
  z-index: 9999;
  right: 135px;
  bottom: 30px;
  width: $regular-webchat-width;
  max-width: calc(100vw - 40px);
  max-height: calc(100vh - 67px);
  height: calc($min-height + 35px);
  min-height: calc($min-height + 35px);

  > iframe.bot-iframe {
    border: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0px;
    background: transparent;
  }

  &.bot-iframe--condensed {
    width: $condensed-webchat-width;
    height: calc($condensed-webchat-height + 125px);
    max-height: $min-height;
    min-height: $min-height;
  }

  &.bot-iframe--unauthenticated {
    height: 440px;
    max-height: unset;
  }

  &.bot-iframe--webchat-uninitialized:not(.bot-iframe--unauthenticated),
  &.bot-iframe--closed {
    width: 64px !important;
    height: 64px !important;
    min-height: 64px !important;
  }
}

@media (max-width: 768px) {
  #bot-iframe-wrapper {
    right: 20px;
    bottom: 8px;
    max-height: calc(100vh - 16px);
  }
}
