#bot-iframe-wrapper {
  position: fixed;
  z-index: 9999;
  right: 135px;
  bottom: 29px;

  >iframe.bot-iframe {
    border: 0px;
    width: 525px;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0px;
    height: 375px;
    background: transparent;
    max-width: calc(100vw - 25px);
    max-height: calc(100vh - 75px);

    &.bot-iframe--condensed {
      width: 325px;
      height: 300px;
    }
  }
}

@media (max-width: 768px) {
  #bot-iframe-wrapper {
    right: 0px;
    bottom: unset;
    top: 20px;

    >iframe.bot-iframe {
      max-height: unset;
      border: 0px;
      width: 525px;
      box-sizing: border-box;
      overflow: hidden;
      margin: 0px;
      height: 375px;
      background: transparent;
    }
  }
}